### Merge the tools

In [ ]:
import pandas as pd
import numpy as np
import math

In [ ]:
samp = 'aljkfjwl0w12'
cutoff = np.linspace(0,len(samp),4)
np.linspace(0,11,4)

In [ ]:
def merging(string,k):
    n = len(string)
    cutoff_points = np.linspace(0,n,k+1)
    for i in range(0,len(cutoff_points)):
        if i < (len(cutoff_points)-1):
            firstcut_loc = math.ceil(cutoff_points[(i)])
            secondcut_loc = math.ceil(cutoff_points[i+1])
            slice = string[firstcut_loc:secondcut_loc]
            newlist = ''
            for e in slice:
                if e not in newlist:
                    newlist = newlist + str(e)
            print(newlist + '\n')
    print(cutoff_points)

In [ ]:
merging('AABCUDHEKFIU',4)

## Permutations

In [ ]:
x = 1
y = 1 
z = 1
n = 2
from itertools import permutations, combinations
comblist = list(combinations([1,1,1,0,0,0], 3))
less3 = [e for e in comblist if sum(e) < 3]
print(less3)
set(less3)

# Find the runner up

In [ ]:
#inputs = n, array
#Output: 2nd largest score in array

n = 7
array = np.array([57, 57, -57, 57])
sorted(list(set(array)))

In [ ]:
array

# Print second best student

In [ ]:
name = ['Harry','Berry','Tina','Akriti','Harsh']
score = [37.21,37.21,37.2,41,39]
nested = [[n,s] for n,s in zip(name,score)]
#Find second lowest value
minvalueremoved_list = list(filter(lambda e: e != min(score),score))
secondlowest = minvalueremoved[0]
for e in nested:
    if e[1] == secondlowest:
        print (e[0])

# Find second lowest marks

In [ ]:
x = [1, 2, 1, 1]
y = map(float,x)

In [ ]:
'''
The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a
list of students. Print the average of the marks array for the student name provided, showing 2 
places after the decimal.
'''
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()

In [ ]:
average = sum(student_marks[query_name]) / len(student_marks[query_name])
print(round(average,2))
average

In [ ]:
scoreslist = student_marks.get(query_name)
average = sum(scoreslist)/len(scoreslist)
'{0:.2f},{1:.3f}'.format(2, 3)

# Nested lists

In [20]:
'''
Given the names and grades for each student in a class of  students, store them in a nested list 
and print the name(s) of any student(s) having the second lowest grade.
'''
full_list = []
if __name__ == '__main__':
    for _ in range(int(input())):
        name = input()
        score = float(input())
        full_list.append([name,score])

5
harsh
20
beria
20
varun
19
kaku
19
vikas
21

In [21]:
full_list

[['harsh', 20.0],
 ['beria', 20.0],
 ['varun', 19.0],
 ['kaku', 19.0],
 ['vikas', 21.0]]

In [22]:
#Min score
firstmin = min(full_list,key = lambda x: x[1])[1]
firstmin
filt = filter(lambda x: x[1] == firstmin, full_list)
#List of items to be removed
removal = list(filt)
#Removal of items
final_list = [e for e in full_list if e not in removal]
final_list

[['harsh', 20.0], ['beria', 20.0], ['vikas', 21.0]]

In [23]:
#Set new minimum
newmin = min(final_list,key = lambda x: x[1])[1]
#Gather names of second lowest grade and sort alphabetically
namelist = []
for i in final_list:
    if i[1] == newmin:
        namelist.append(i[0])
namelist.sort()
namelist

['beria', 'harsh']

In [24]:
#Print names
print(*namelist, sep = '\n')

beria
harsh